<div class='row'>
    <div class='col s4'>
        <div class="row">
            <div class="col s12 ">
              <div class="card">
                <div class="card-image">
                  <img src="/assets/dashboard/agents_on_street.png">
                  <span class="card-title">Análise em tempo real</span>
                  <a href='/graphium/analytics' class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">open_in_new</i></a>
                </div>
                <div class="card-content">
                  <p>Analise os agentes que estão em tempo real analisando as ruas.</p>
                </div>
              </div>
            </div>
          </div>
    </div>
    <div class='col s4'>
        <div class="row">
            <div class="col s12">
              <div class="card">
                <div class="card-image">
                  <img src="/assets/dashboard/agents.png">
                  <span class="card-title">Histórico dos Agentes</span>
                  <a href='/graphium/agent' class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">open_in_new</i></a>
                </div>
                <div class="card-content">
                  <p>Veja o histórico dos agentes que já realizaram ações.</p>
                </div>
              </div>
            </div>
          </div>
    </div>
    <div class='col s4'>
        <div class="row">
            <div class="col s12 ">
              <div class="card">
                <div class="card-image">
                  <img src="/assets/dashboard/streets.png">
                  <span class="card-title">Ruas</span>
                  <a href='/graphium/street' class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">open_in_new</i></a>
                </div>
                <div class="card-content">
                  <p>Veja as ruas que estão cadastradas no nosso sistema.</p>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>
<div class='row'>
    <div class="col s6">
        <div class="card horizontal">
          <div class="card-image">
            <img src="http://lorempixel.com/100/190/technics/6">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <h4>Histórico de análises</h4>
              <p>Veja as análises mais antigas realizadas pelo sistema</p>
            </div>
            <div class="card-action">
              <a href="#">Acesse aqui</a>
            </div>
          </div>
        </div>
    </div>
    <div class="col s6">
        <div class="card horizontal">
          <div class="card-image">
            <img src="http://lorempixel.com/100/190/technics/4">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <h4>Configuração e Outros</h4>
              <p>Veja as configurações do sistema entre outras coisas</p>
            </div>
            <div class="card-action">
              <a href="#">Acesse aqui</a>
            </div>
          </div>
        </div>
    </div>
</div>