<%=breadcrumbs [{:name => 'Home',:path => '/'},{:name => 'Analytics', :path => '/graphium/analytics'}]%>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAfw7x1Y5XXJXcGwQAFGG_069ZKEgpGEBE&callback=initTheMap" defer></script>
<div id="modal1" class="modal">
    <div class="modal-content">
      <object style='width:100%;heigth:auto' data='/assets/swarm/swarm_abort.svg'></object>
    </div>
    <div id='' class="modal-footer">
        <a class="modal-action modal-close waves-effect waves-green btn-flat">No, Do not stop</a>
        <a onclick="finishSwarm()" style='color:red' class="modal-action modal-close waves-effect waves-green btn-flat">Yes, I want end the executation</a>
    </div>
</div>
<div class='row'>
    <div id='column_left' class="col s7">
        <div style="margin-top: 10px;">
            <div class="z-depth-1">
                <div class='row' style='padding: 15px 15px 10px 15px;'>
                    <a id='play_and_stop' onClick="hearing_swarm()" class="col s2 tooltipped" style='cursor:pointer' data-position="bottom" data-delay="50" data-tooltip="Start or stop to hearing the swarm" ><i class="material-icons">sync</i>
                    </a>  
                    <a onClick="update()" class="col s1 offset-s6 tooltipped" style='cursor:pointer' data-position="bottom" data-delay="50" data-tooltip="Read the last stage from swarm"><i class="material-icons" >rotate_left</i></a>
                    <a id='delete' onClick="clean()" class="col s1 tooltipped" style='cursor:pointer' data-position="bottom" data-delay="50" data-tooltip="clear the map"><i class="material-icons" >delete_sweep</i>
                    </a>
                    <a id='end_start' onClick='endExecutation()' class="col s1 offset-s1 tooltipped" data-position="bottom" data-delay="50" data-tooltip="End the executation from swarm">
                        <i class="material-icons" style='cursor:no-drop;color:gray'>pause_circle_filled</i>
                    </a>
                                      
                </div>
            </div>
        </div>
        <div id='map' class="map">
        </div>
    </div>
    <div class="col s5">
        <ul class="collapsible" data-collapsible="accordion">
            <li>
                  <div class="collapsible-header"><i class="material-icons">info_outline</i>Swarm Information</div>
                  <div id='informations' class="collapsible-body"><span>Try play to see informations about swarm</span></div>
            </li>
            <li class='open'>
                <div class="collapsible-header"><i class="material-icons">place</i>Active Agents</div>
                <div class="collapsible-body">
                    <div id='agent_sleeping' style='display:none'>
                        <div class="row valign-wrapper">
                            <img style='width: 100%;' src='/assets/analytics/sleeping.jpg' class='col s12 valign'>
                        </div>
                        <div class="row" style="text-align: center;">
                            Zzz...
                        </div>
                    </div>
                    <div id='agent_disconnected' >
                        <div class="row valign-wrapper">
                            <img style='width: 100%;' src='/assets/analytics/disconnected.jpg' class='col s12 valign'>
                        </div>
                        <div class="row" style="text-align: center;">
                            We have a problem houston!
                        </div>
                    </div>
                    <div id='agent_showing' style='display:none'>
                    </div>
                </div>
            </li>
            <li>
                  <div class="collapsible-header"><i class="material-icons">directions</i>Streets</div>
                  <div id='street_names' class="collapsible-body"><span>None</span></div>
            </li>
            <li>
                  <div class="collapsible-header"><i class="material-icons">notifications_none</i>Notifications</div>
                  <div id='street_names' class="collapsible-body"><span>None</span></div>
            </li>
            
        </ul>
    </div>
</div>

<script>
    var map;
    var markers = []
    var lines = []
    var infoWindow = "";
    var play = false;
    var time_out = 5000;
    var lineSymbol = {
        path: 'M 0,1 0,1',
        strokeOpacity: 0.4,
        scale: 4
      };
    var visited_streets = []
    var agents = []
    var swarm_active = false; 
    var swarm_identifier = 0;
    function clean(){
        for(var a=0; a < markers.length;a++){
          markers[a].setMap(null);

        }  
        for(var a=0; a <lines.length;a++){
          lines[a].setMap(null);
        }
        markers = [];
        lines = [];
        google.maps.event.trigger(map, 'resize');
        $('#street_names').html('<span>Nenhuma</span>');
        console.log('clean')
    }
    
    function initTheMap() {
        // Start map
        map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: -31.769016, lng: -52.3347313},
            zoom: 13
        });
        // show infowindow location
        infoWindow = new google.maps.InfoWindow({map: map});
        // Try HTML5 geolocation.
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
              var pos = {
                //lat: position.coords.latitude,
                //lng: position.coords.longitude
                lat: -31.769016,
                lng: -52.3347313
              };

              infoWindow.setPosition(pos);
              infoWindow.setContent('Sua localização');
              map.setCenter(pos);
            }, function() {
              handleLocationError(true, infoWindow, map.getCenter());
            });
          } else {
            // Browser doesn't support Geolocation
            handleLocationError(false, infoWindow, map.getCenter());
          }
        console.log('iniciou o mapa');
    }
    
    function handleLocationError(browserHasGeolocation, infoWindow, pos) {
      infoWindow.setPosition(pos);
      infoWindow.setContent(browserHasGeolocation ?
                            'Error: O serviço de localização falhou.' :
                            'Error: Seu navegador não tem suporte de geolocalização.');
    }
    
    function addMarker(position,name,lat,lng){
        agent_num = position.toString()
        agent_num = agent_num.substring(0,1)
        url_icon = "/assets/analytics/agent_"+agent_num+".png";
        
        latLng = new google.maps.LatLng(lat, lng);
        
        marker = new google.maps.Marker({
              icon: url_icon,
              position: latLng,
              title:name,
              visible: true
        });
        marker.setMap(map);
        console.log('adding marker!',lat,lng)
        markers.push(marker)
    }
    
    function addLine(color,lat_1,lng_1,lat_2,lng_2,jump){
        var latLngCoordenates = [
            {lat: lat_1, lng: lng_1},
            {lat: lat_2, lng: lng_2},
        ];
        
        line_finish = ""
        if(jump === false){
            line_finish = new google.maps.Polyline({
                path: latLngCoordenates,
                geodesic: true,
                strokeColor: color,
                strokeOpacity: 1.0,
                strokeWeight: 2
            });
            lines.push(line_finish)
            line_finish.setMap(map);
        }else{
            line_finish = new google.maps.Polyline({
                path: latLngCoordenates,
                geodesic: true,
                strokeColor: "#757575",
                strokeOpacity: 0.4,
                strokeWeight: 2,
                icons: [{
                  icon: lineSymbol,
                  offset: '0',
                  repeat: '20px'
                }],
            });
            lines.push(line_finish)
            line_finish.setMap(map);
        }
        
        
    }
    
    function addNameToHtml(position,name,color,lat,lng){
        
        agent_num = position.toString()
        agent_num = agent_num.substring(0,1)
        url_icon = "/assets/analytics/agent_"+agent_num+".png";
        
        the_html= "<li class='collection-item avatar' onclick=\"location.href='/graphium/agent'\"><img src='"+url_icon+"' alt='' style='width: auto !important;' class='circle'><span class='title'>"+name+"</span><p>"+lat+"<br>"+lng+"</p><a href='#!' class='secondary-content'></a></li>"
        return the_html;
    }
    
    function finishSwarm(){
        $.ajax({
            url: "/graphium/analytics/finishSwarm",
            dataType: "json",
            data: {
              swarm_identifier: swarm_identifier
            },
            complete: function(){
              
            },
            success: function($data) {
                if($data === true){
                    Materialize.toast('The swarm was stoped! ', 2000,'rounded')
                }else{
                    Materialize.toast('Not was possible to stop the swarm. Try again later ', 2000,'rounded')
                }                
            },
            error: function(xhr, ajaxOptions, thrownError) {
                Materialize.toast('Not was possible to stop the swarm. Try again later ', 2000,'rounded')
            }
        });
    }
    
    function update(){
        console.log('update!');
        $.ajax({
            url: "/graphium/analytics/getSwarmActive",
            dataType: "json",
            data: {
              "locate": ''
            },
            complete: function(){
              for(var a=0; a < markers.length;a++){
                  //markers[a].setMap(null);
                  
              }  
              for(var a=0; a <lines.length;a++){
                  ///lines[a].setMap(null);
              }
              //markers = [];
              //lines = [];
            },
            success: function($data) {
                console.log('update!',$data);
                if($data.swarm == null){
                    $('#agent_sleeping').show();
                    $('#agent_showing').hide();
                    $('#agent_disconnected').hide();
                    $('#street_names').html('<span>None</span>');
                    $('#informations').html('<span>None swarm are playing. Try start a swarm</span>');
                    if(swarm_active == true){
                        swarm_active = false;
                        $('.collapsible').collapsible('open', 0);
                    }
                    document.querySelector('#end_start i').style.color='gray';
                    document.querySelector('#end_start i').style.cursor='no-drop';
                    swarm_identifier = 0;
                    Materialize.toast('No active swarm', 2000,'rounded');
                    hearing_swarm();
                    
                }else{
                    // Swarm information
                    swarm_active = true
                    swarm_identifier = $data.swarm.identifier;
                    swarm_info  = "<table class='highlight'>"
                    swarm_info += "<tr><td>Name</td><td>"+$data.swarm.name+"</td></tr>"
                    swarm_info += "<tr><td>Nº Competing Agents</td><td>"+$data.swarm.num_agent+"</td></tr>"
                    swarm_info += "<tr><td>Total Agents</td><td>"+$data.agents.length+"</td></tr>"
                    swarm_info += "<tr><td>Start at</td><td>"+$data.swarm.start_at+"</td></tr>"
                    swarm_info += "<tr><td>End at</td><td>"+$data.swarm.end_at+"</td></tr>"
                    swarm_info += "<tr><td>QMI</td><td>"+$data.swarm.qmi+"</td></tr>"
                    swarm_info += "<tr><td>Host</td><td>"+$data.swarm.host+"</td></tr>"
                    swarm_info += "</table>"
                    $('#informations').html(swarm_info);
                    document.querySelector('#end_start i').style.color= '';
                    document.querySelector('#end_start i').style.cursor= 'pointer';
                    
                    // Agent Informations
                    the_html_to_show = "<ul class='collection'>"
                    for(var a=0;a < $data.agents.length;a++){
                        
                        if(!$data.agents[a].active){
                            name = $data.agents[a].name + " (inative)"
                        }else{
                            name = $data.agents[a].name
                        }
                        
                        the_html_to_show += addNameToHtml(a,name,$data.agents[a].color,$data.agents[a].last_street,$data.agents[a].last_lat+", "+$data.agents[a].last_lng);
                        addMarker(a,$data.agents[a].name,$data.agents[a].last_lat, $data.agents[a].last_lng);
                        
                        for(var b=0; b < $data.agents[a].pathbread.length;b++){
                            
                           if(b!=0 && b < $data.agents[a].pathbread.length-2){
                              addLine($data.agents[a].color, $data.agents[a].pathbread[b].lat, $data.agents[a].pathbread[b].lng,
                                      $data.agents[a].pathbread[b+1].lat, $data.agents[a].pathbread[b+1].lng,$data.agents[a].pathbread[b].jump) 
                           }
                           
                        }
                        
                        for(var b=0; b < $data.agents[a].visited_streets.length;b++){
                            if($data.agents[a].visited_streets[b]!=""){
                                visited_streets.push($data.agents[a].visited_streets[b])
                            }
                            
                        }
                        
                    }
                    
                    var uniqueNames = [];
                    $.each(visited_streets, function(i, el){
                        if($.inArray(el, uniqueNames) === -1) uniqueNames.push(el);
                    });
                    
                    streets_to_show = "<table class='highlight'><tbody>";
                    for(var a=0;a< uniqueNames.length;a++){
                        streets_to_show +="<tr>"+uniqueNames[a]+"</br></tr>";
                    }
                    streets_to_show += "</tbody></table>";
                    
                    $('#street_names').html(streets_to_show);
                    
                    the_html_to_show +="</ul>"
                    $('#agent_sleeping').hide();
                    $('#agent_disconnected').hide();
                    $('#agent_showing').html(the_html_to_show);
                    $('#agent_showing').show();
                    
                }
                Materialize.toast('atualizado', 500,'rounded')
                
            },
            error: function(xhr, ajaxOptions, thrownError) {
                console.log('error',thrownError);
                $('#agent_sleeping').hide();
                $('#agent_showing').hide();
                $('#agent_disconnected').show();
                $('#street_names').html('<span>None</span>');
                $('#informations').html('<span>Some erro on server. Try again </span>');
                document.querySelector('#end_start i').style.color='gray';
                document.querySelector('#end_start i').style.cursor='no-drop';
                if(swarm_active == true){
                    swarm_active = false;
                    $('.collapsible').collapsible('open', 0);
                }
            }
        });
    }
    
    function hearing_swarm(){
        if(play != true){
            $("#play_and_stop").html('<i class="material-icons">sync_disabled</i>'); 
        }else{
            $("#play_and_stop").html('<i class="material-icons">sync</i>'); 
        }
        play = !play;
    }
    
    function endExecutation(){
        if(document.querySelector('#end_start i').style.color == ""){
            $('#modal1').modal('open');
        }
    }
    
    $(document).ready(function(){
        
        document.querySelector("div[class='container']").style.padding = '0px 10px';
        $("div[class='container']").removeClass('container')
        
        $('#map').width($('#column_left').width()+"px");
        $('#map').css('min-height',$(window).height()-174+"px");
        $('.collapsible').collapsible('open', 0);
        
        $('.tooltipped').tooltip({delay: 50});
        
        $('.modal').modal();
    });
    
    setInterval(function(){
        
        if(play){
            update();
        }
    }, time_out)
    
    <% if params[:swarmId] != nil%>
        // play from param swarmId
        swarm_identifier = "<%=params[:swarmId]%>";
        hearing_swarm();
        Materialize.toast('Play from param', 1000)
    <%end%>
    
</script>
<style>
    #map {
        min-height: 100%;
        width: 100%;
      }
</style>
