<div class="container"> 
    <h2 style="margin-top:40px">About</h2>
    <p style="margin-top:40px;text-align:justify;text-indent: 20px;">
        The Graphium is a project create at 2016 to search graffiti on cities. The project, today, is a beta system to proved informations about any others elements on maps. Sliced at three parts, the graphium is composed by a WebSphere implementation in Ruby on Rails 4, the second part is a PyServer that executes a swarm and agents that competing for resources. The third part are the helpers necessary to extract and model the information to the two parts cited before.
    </p>
    <p style="margin-top:10px;text-align:justify;text-indent: 20px;">
        The project was created and maintained by <a href='http://www.glaucomunsberg.com'>Glauco Munsberg</a>. You cand read more about the project at <a href='https://github.com/glaucomunsberg/graphium'>github</a>.
    </p>
    <h2 style="margin-top:40px">UML</h2>
    <p style="margin-top:10px;text-align:justify;text-indent: 20px;">
        That is the last information about the UML, database and model of the processed published on this repository.
        <img src="/assets/site/about_UML.png" style="width:100%;height:auto">
    </p>
</div>