<div class="container"> 
    <h2 style="margin-top:40px">Version 0.0.2</h2>
    <p style="margin-top:40px;text-align:justify">
        Do you want to install Graphium on your server? Installing this program will allow you to make agents find anything for you on the map. Graphium can be used on a web server that is serving other functions, and requires very little in the way of system requirements.
    </p>
    <h4 style="margin-top:40px">Realses Note</h4>
    <p style="margin-top:20px">
        <table class="highlight">
            <thead>
                <tr>
                    <th>Version</th>
                    <th>New Features and Bug Fixes</th>
                </tr>
            </thead>
            <body>
                <tr>
                    <td colspan="2"><b>Version 0.0.2</b></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Realtime execution visualization<span class="new badge deep-purple" data-badge-caption=''>webserver</span></td>
                </tr>
                <tr>
                    <td></td>
                    <td>See latest sessions on map<span class="new badge deep-purple" data-badge-caption=''>webserver</span></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Webserver can config and start a session by user on screen<span class="new badge indigo" data-badge-caption=''>pyserver and webserver</span></td>
                </tr>
                <tr>
                    <td></td>
                    <td>The swarm session launch x agents until the execution will stop by user<span class="new badge" data-badge-caption=''>pyserver</span></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Each agent can count your cicles<span class="new badge" data-badge-caption=''>pyserver</span></td>
                </tr>
                <tr>
                    <td colspan="2"><b>Version 0.0.1</b></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Login to execute the swarm session <span class="new badge deep-purple" data-badge-caption=''>webserver</span></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Default configuration on webserver will execute in pyserver<span class="new badge indigo" data-badge-caption=''>pyserver and webserver</span></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Node counting like the expertise of agents <span class="new badge" data-badge-caption=''>pyserver</span></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Each executation has on session on server<span class="new badge" data-badge-caption=''>pyserver</span></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Logger on pyserver replace the print on console. To see open 'swarm/log/' dir <span class="new badge" data-badge-caption=''>pyserver</span></td>
                </tr>
                
            </body>
        </table>
    </p>
</div>